.post-collapsible .post-collapsible-details {
    margin-left: 1.5em;
    margin-top: 0.2em;

    padding-top: 0.1em;
    padding-bottom: 0.5em;
    padding-left : 1em;
    padding-right: 0.5em;

    background-color: aliceblue;
}
