@media only screen and (min-device-width: 320px) and (max-device-width: 359px) {
    .parallax {
        min-height: 480px;
    }

    .parallax-content {
        min-height: 480px;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 1023px) {
    .parallax {
        min-height: 650px;
    }

    .parallax-content {
        min-height: 650px;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1199px) {
    .parallax {
        min-height: 662px;
    }

    .parallax-content {
        min-height: 662px;
    }
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1899px) {
    .parallax {
        min-height: 790px;
    }

    .parallax-content {
        min-height: 790px;
    }
}

.footer {
    min-height: 0px !important;
}

.footer-content {
    min-height: 0px !important;
}